extends ../templates/default

block content
 br
 br
 br
 br
 .panel.panel-default
      .panel-heading
        h2.panel-title SISTEMA DE GESTIÓN
           small   Nuevo Doctor
 div(class='row')
  div(class='col-md-6 col-md-offset-3')
    div(class='panel panel-primary')
     div(class='panel-heading')
       h3.panel-title Ingresar datos Doctor
      div(class='panel-body')
       form(action='http://localhost:3000/users/doctors' method='post' autocomplete='off')
         div(class='form-group has-success')
          label(for='nomape')= 'Nombres y Apellidos'
          input(type='nomape' name='nomape' id='nomape' placeholder='Nombres y Apellidos' class='form-control' style='text-transform:uppercase' title='Ingresar Nombres y Apellidos completos')
         div(class='form-group has-success')
          label(for='birthdate')= 'Fecha de Nacimiento'
          input(type='birthdate' name='birthdate' id='birthdate' placeholder='día/mes/año' class='form-control' style='text-transform:uppercase')
        

         div(class='form-group has-success')       
          label(for='genero')= 'Género'
          select(class="selectpicker show-tick" id="genero" data-width="100%" name="genero" title='GÉNERO') 
           option(data-icon='glyphicon-user') Masculino
           option(data-icon='glyphicon-user') Femenino
         div(class='form-group has-success')
          label(for='nacionalidad')= 'Cédula de Identidad'
          input(type='nacionalidad' name='cedula' id='cedula' placeholder='cédula' class='form-control' style='text-transform:uppercase')
         div(class='form-group has-success')
          label(for='area') Área
          select( class="selectpicker" data-style="btn-default" data-width="100%" name="area" title='Escoger el Area') 
            -each item in typesAr
              option #{item.typear}
         div(class='form-group has-success')
          label(for='especialidad') Especialidad
          select( class="selectpicker" data-style="btn-default" data-width="100%" name="especialidad" title='Escoger la Especialidad') 
            -each item in nameSpArr
              option #{item.namesp}
         div(class='form-group has-success')
          label(for='email')= 'Email'
          input(type='email' name='email' id='email' placeholder='Email' class='form-control')
         div(class='form-group has-success')
          label(for='password')= 'Password'
          input(type='password' name='password' id='password' placeholder='Password' class='form-control')
                   
         button(type='submit' class='btn btn-primary' data-loading-text='Registrando')= 'Registrar'
 .container

    hr        
    .col-md-4
    
       p
           | UNIVERSIDAD CENTRAL DEL ECUADOR
           br
           | Todos los derechos reservados
           br
           img(src='/images/imagmedpequeño.png' width="160" height="60")
    .col-md-4
     .text-center.center-block
       h2.txt-railway Síguenos
       br
       a(href='https://www.facebook.com/bootsnipp')
         i#social-fb.fa.fa-facebook-square.fa-3x.social 
       a(href='https://twitter.com/bootsnipp')
         i#social-tw.fa.fa-twitter-square.fa-3x.social 
       a(href='https://plus.google.com/+Bootsnipp-page')
         i#social-gp.fa.fa-google-plus-square.fa-3x.social 
       a(href='mailto:bootsnipp@gmail.com')
         i#social-em.fa.fa-envelope-square.fa-3x.social 
    .col-md-4

        h3 Contacto:
        p Dirección: Av.Universitaria.
        p Telefono: 3453-529  
        p Correo: lapadilla@rutatec.com