extends ../templates/default

block content
 br
 br
 br
 br
 .panel.panel-default
      .panel-heading
        h2.panel-title SISTEMA DE GESTIÓN
           small   Nuevo Paciente
  div(class='row')
  div(class='col-md-6 col-md-offset-3')
    div(class='panel panel-default')
     div(class='panel-heading ')
       h3.panel-title Ingresar datos Paciente
      div(class='panel-body')
       form(action='http://localhost:3000/users/patients' method='post' autocomplete='off')
         div(class='form-group has-success')
          label(for='nomape')= 'Nombres y Apellidos'
          input(type='nomape' name='nomape' id='nomape' placeholder='Nombres y Apellidos' class='form-control' style='text-transform:uppercase')
         div(class='form-group has-success')
          label(for='birthdate')= 'Edad'
          input(type='birthdate' name='birthdate' id='birthdate' placeholder='día/mes/año' class='form-control' style='text-transform:uppercase')
         div(class='form-group has-success')
          label(for='genero')= 'Género'
          select(class="selectpicker show-tick" id="genero" data-width="100%" name="genero" title='GÉNERO') 
           option(data-icon='glyphicon-user') MASCULINO
           option(data-icon='glyphicon-user') FEMENINO
         div(class='form-group has-success')
          label(for='nacionalidad')= 'Nacionalidad'
          input(type='nacionalidad' name='nacionalidad' id='nacionalidad' placeholder='Nacionalidad' class='form-control' style='text-transform:uppercase')
         div(class='form-group has-success')
          label(for='estcivil')='Estado Civil'
          select(class="selectpicker show-tick" id="estcivil" data-width="100%" name="estcivil" title='ESTADO CIVIL') 
           option(data-icon='glyphicon-user') CASADO/A
           option(data-icon='glyphicon-user') SOLTERO/A
           option(data-icon='glyphicon-user') DIVORCIADO/A
           option(data-icon='glyphicon-user') VIUDO/A
           option(data-icon='glyphicon-user') UNIÓN DE HECHO
          
         div(class='form-group has-success')
          label(for='ocupacion')='Ocupación'
          input(type='ocupacion' name='ocupacion' id='ocupacion' placeholder='Ocupación' class='form-control' style='text-transform:uppercase')
         div(class='form-group has-success')
          label(for='lugorigen')='Lugar de Origen'
          input(type='lugorigen' name='lugorigen' id='lugorigen' placeholder='Lugar de Origen' class='form-control' style='text-transform:uppercase')
         div(class='form-group has-success')
          label(for='lugres')='Lugar de Residencia'
          input(type='lugres' name='lugres' id='lugres' placeholder='Lugar de Residencia' class='form-control' style='text-transform:uppercase')
         div(class='form-group has-success')
          label(for='telefono')='Teléfono'
          input(type='telefono' name='telefono' id='telefono' placeholder='Teléfono' class='form-control' style='text-transform:uppercase')     
         button(type='submit' class='btn btn-primary')= 'Registrar' 
 .container

    hr        
    .col-md-4
    
       p
           | UNIVERSIDAD CENTRAL DEL ECUADOR
           br
           | Todos los derechos reservados
           br
           img(src='/images/imagmedpequeño.png' width="160" height="60")
    .col-md-4
     .text-center.center-block
       h2.txt-railway Síguenos
       br
       a(href='https://www.facebook.com/bootsnipp')
         i#social-fb.fa.fa-facebook-square.fa-3x.social 
       a(href='https://twitter.com/bootsnipp')
         i#social-tw.fa.fa-twitter-square.fa-3x.social 
       a(href='https://plus.google.com/+Bootsnipp-page')
         i#social-gp.fa.fa-google-plus-square.fa-3x.social 
       a(href='mailto:bootsnipp@gmail.com')
         i#social-em.fa.fa-envelope-square.fa-3x.social 
    .col-md-4

        h3 Contacto:
        p Dirección: Av.Universitaria.
        p Telefono: 3453-529  
        p Correo: lapadilla@rutatec.com