extends ../templates/default

block content
 br
 br
 br
 br
 .panel.panel-default
      .panel-heading
        h2.panel-title SISTEMA DE GESTIÓN
        h2
           small   Perfil 
 div(class='row')
  div(class='col-md-6 col-md-offset-3')
    div(class='panel panel-default')
     div(class='panel-heading')
       h3.panel-title Datos 
      div(class='panel-body')
      -each prf in perfil
       
         div(class='')
          label(for='perfil')= prf.perfil
         div(class='form-group has-success')
          label(for='nomape')= 'Nombres y Apellidos'
         div(class='form-group has-success')
          label(for='nombre')= prf.nombre
         div(class='form-group has-success')
          label(for='birthdate')= 'Fecha de Nacimiento'
         div(class='form-group has-success')
          label(for='birthdate')= prf.fechana
         div(class='form-group has-success')
          label(for='genero')= 'Género'
         div(class='form-group has-success')
          label(for='genero')= prf.genero
         div(class='form-group has-success')
          label(for='nacionalidad')= 'Cédula de Identidad'
         div(class='form-group has-success')
          label(for='nacionalidad')= prf.ci
         div(class='form-group has-success')
          label(for='estcivil')='Área'
         div(class='form-group has-success')
          label(for='area')= prf.area
         div(class='form-group has-success')
          label(for='ocupacion')='Especialidad'
         div(class='form-group has-success')
          label(for='ocupacion')= prf.especialidad
         div(class='form-group has-success')
          label(for='email')= 'Email'
         div(class='form-group has-success')
          label(for='email')= prf.email
                   
         
 .container

    hr        
    .col-md-4
    
       p
           | UNIVERSIDAD CENTRAL DEL ECUADOR
           br
           | Todos los derechos reservados
           br
           img(src='/images/imagmedpequeño.png' width="160" height="60")
    .col-md-4
     .text-center.center-block
       h2.txt-railway Síguenos
       br
       a(href='https://www.facebook.com/bootsnipp')
         i#social-fb.fa.fa-facebook-square.fa-3x.social 
       a(href='https://twitter.com/bootsnipp')
         i#social-tw.fa.fa-twitter-square.fa-3x.social 
       a(href='https://plus.google.com/+Bootsnipp-page')
         i#social-gp.fa.fa-google-plus-square.fa-3x.social 
       a(href='mailto:bootsnipp@gmail.com')
         i#social-em.fa.fa-envelope-square.fa-3x.social 
    .col-md-4

        h3 Contacto:
        p Dirección: Av.Universitaria.
        p Telefono: 3453-529  
        p Correo: lapadilla@rutatec.com