extends ../templates/default

block content
 br
 br
 br
 br
 .panel.panel-default
      .panel-heading
        h2.panel-title SISTEMA DE GESTIÓN
           small   Perfil 
 div(class='row')
  div(class='col-md-6 col-md-offset-3')
    if message.length > 0
     div(class='alert alert-success', role='alert-success')= message
    div(class='panel panel-primary')
     div(class='panel-heading')
       h3.panel-title Datos 
      div(class='panel-body')

      -each prf in perfil
        
         
          table.table.table-striped
            thead
              tr
                th Datos Personales
            tbody
              tr
                th Nombres y Apellidos:
                td #{prf.nombre}
              tr
                th Fecha de Nacimiento:
                td #{prf.fechana}
              tr
                th Género:
                td #{prf.genero}
              tr
                th Cedula de Identidad:
                td #{prf.ci}
              tr
                th Área:
                td #{prf.area}
              tr
                th Especialidad:
                td #{prf.especialidad}
              tr
                th Email:
                td #{prf.email}
    div(class='panel panel-primary')
     div(class='panel-heading')
       h3.panel-title 
         a(data-toggle='collapse', href='#collapse1') Cambio de Contraseña 
     #collapse1.panel-collapse.collapse 
         form(action='http://localhost:3000/users/profile' method='post' autocomplete='off')
          div(class='form-group has-success')
            label(for='oldpassword')= 'Actual'
            input(type='password' name='oldpassword' id='password' size='30' placeholder='Contraseña actual' class='form-control')     
          div(class='form-group has-success')
            label(for='newpassword')= 'Nueva'
            input(type='password' name='password' id='password' size='30' placeholder='Contraseña nueva' class='form-control')   
          div(class='form-group has-success')
            label(for='newpassword1')= 'Repetir contraseña nueva'
            input(type='password' name='password1' id='password1' size='30' placeholder='Repetir contraseña nueva' class='form-control')      
          button(type='submit' class='btn btn-primary' data-loading-text='Registrando')= 'Aceptar'
          
                   
         
 .container

    hr        
    .col-md-4
    
       p
           | UNIVERSIDAD CENTRAL DEL ECUADOR
           br
           | Todos los derechos reservados
           br
           img(src='/images/imagmedpequeño.png' width="160" height="60")
    .col-md-4
     .text-center.center-block
       h2.txt-railway Síguenos
       br
       a(href='https://www.facebook.com/bootsnipp')
         i#social-fb.fa.fa-facebook-square.fa-3x.social 
       a(href='https://twitter.com/bootsnipp')
         i#social-tw.fa.fa-twitter-square.fa-3x.social 
       a(href='https://plus.google.com/+Bootsnipp-page')
         i#social-gp.fa.fa-google-plus-square.fa-3x.social 
       a(href='mailto:bootsnipp@gmail.com')
         i#social-em.fa.fa-envelope-square.fa-3x.social 
    .col-md-4

        h3 Contacto:
        p Dirección: Av.Universitaria.
        p Telefono: 3453-529  
        p Correo: lapadilla@rutatec.com