extends .././templates/default

block content
  br
  br
  br
  .panel.panel-default
   .panel-heading
     h2.panel-title Sistema de Gestión 
        small Imagenes realizadas al paciente
  br
  div(class='row')
   
    
    div(class='col-md-6 col-xs-10')
     div(class='panel panel-default')
      div(class='panel-heading')
        h3.panel-title Registro de Imagenes por Tecnica
       div(class='panel-body')
        div(class='form-group')
         label(for='imgPaciente')='Tecnica:' +' '+ imgTechnique
        div(class='form-group has-success')     
          -each item in images
           div(class='form-group has-success' style='float:left;')
            img(src="data:image/jpg;base64,"+item.img alt="Chicago" width="500" height="400")
            br
            br
           .enlacesfavoritos 
            br
            br
            div(class='form-group')
            label(for='namedoctor')= ' Responsable:' + item.namedoctor
            div(class='form-group')
            label(for='namedoctor')= ' Paciente:' + item.namedoctor
            div(class='form-group') 
            p=" Vista :"+item.vista
            div(class='form-group')
            p=" Area :"+item.area
            div(class='form-group')
            p=" Proceso :"+item.proceso
            div(class='form-group')
            p=" Enfoque :"+item.enfoque
            div(class='form-group')
            p=" Observaciones :"+item.observaciones
  .container

    hr        
    .col-md-4
    
       p
           | UNIVERSIDAD CENTRAL DEL ECUADOR
           br
           | Todos los derechos reservados
           br
           img(src='/images/imagmedpequeño.png' width="160" height="60")
    .col-md-4
     .text-center.center-block
       h2.txt-railway Síguenos
       br
       a(href='https://www.facebook.com/bootsnipp')
         i#social-fb.fa.fa-facebook-square.fa-3x.social 
       a(href='https://twitter.com/bootsnipp')
         i#social-tw.fa.fa-twitter-square.fa-3x.social 
       a(href='https://plus.google.com/+Bootsnipp-page')
         i#social-gp.fa.fa-google-plus-square.fa-3x.social 
       a(href='mailto:bootsnipp@gmail.com')
         i#social-em.fa.fa-envelope-square.fa-3x.social 
    .col-md-4

        h3 Contacto:
        p Dirección: Av.Universitaria.
        p Telefono: 3453-529  
        p Correo: lapadilla@rutatec.com           