extends .././templates/default

block content
  br
  br
  br
  .panel.panel-default
   .panel-heading
     h2.panel-title Sistema de Gestión 
        small Imágenes realizadas al paciente
  br
  div(class='row')
   -each item in images
      div(class='col-md-1')
      div(class='col-md-5')
       div(class='panel panel-primary')
        div(class='panel-heading')
          h3.panel-title Registro de Imágenes por Técnica
         div(class='panel-body')
          div(class='form-group')
           label(for='imgPaciente')='Técnica:' +' '+ imgTechnique
          div(class='form-group has-success')
            div(class='form-group') 
                img(src="data:image/jpg;base64,"+item.img alt="Chicago" width="500" height="400")
                br
                br
      div(class='col-md-1')
      div(class='col-md-5') 
        div(class='panel panel-primary')
         div(class='panel-heading')
           h3.panel-title Información
          div(class='panel-body')
           div(class='form-group')
            
            div(class='form-group has-success') 
             div(class='form-group has-success' style='float:left;')
                div(class='form-group')
                div(class='form-group')
                label(for='namedoctor')= ' Responsable:' + item.namedoctor
                div(class='form-group')
                label(for='namepaciente')= ' Paciente:' + item.name
                div(class='form-group') 
                p=" Vista :"+item.vista
                div(class='form-group')
                p=" Área :"+item.area
                div(class='form-group')
                p=" Proceso :"+item.proceso
                div(class='form-group')
                p=" Enfoque :"+item.enfoque
                div(class='form-group')
                label(for='Obsercaciones')= 'Observaciones :'
                div(class='form-group')
                label(for='Obsercaciones')= 'Observaciones :'
                -each itmobs in obsv
                 if itmobs.id.toString() == item.id.toString()
                  div(class='form-group')
                   p=" Médico Encargado :"+itmobs.responsable
                   div(class='form-group')
                   p=" Fecha :"+itmobs.dateobs
                   div(class='form-group')
                   p=" Observación :"+itmobs.observacion
                   br
                   br
                   br
                   br
                   br
  .container

    hr        
    .col-md-4
    
       p
           | UNIVERSIDAD CENTRAL DEL ECUADOR
           br
           | Todos los derechos reservados
           br
           img(src='/images/imagmedpequeño.png' width="160" height="60")
    .col-md-4
     .text-center.center-block
       h2.txt-railway Síguenos
       br
       a(href='https://www.facebook.com/bootsnipp')
         i#social-fb.fa.fa-facebook-square.fa-3x.social 
       a(href='https://twitter.com/bootsnipp')
         i#social-tw.fa.fa-twitter-square.fa-3x.social 
       a(href='https://plus.google.com/+Bootsnipp-page')
         i#social-gp.fa.fa-google-plus-square.fa-3x.social 
       a(href='mailto:bootsnipp@gmail.com')
         i#social-em.fa.fa-envelope-square.fa-3x.social 
    .col-md-4

        h3 Contacto:
        p Dirección: Av.Universitaria.
        p Telefono: 3453-529  
        p Correo: lapadilla@rutatec.com           