extends .././templates/default

block content
  br
  br
  br
  .panel.panel-default
   .panel-heading
     h2.panel-title Sistema de Gestión 
        small Imagenes realizadas al paciente
  br
  div(class='row')
   div(class='container-fluid')
    
    div(class='col-md-5 col-md-offset-4')
     div(class='panel panel-default')
      div(class='panel-heading')
        h3.panel-title Registro de Imagenes del Paciente
       div(class='panel-body')
        div(class='form-group')
         label(for='imgPaciente')='Paciente:' +' '+ imgPaciente
        div(class='form-group')     
        
          -each item in images
           img(src="data:image/jpg;base64,"+item.img alt="Chicago" width="500" height="400")
           
           div(class='form-group')
           label(for='namedoctor')= 'Responsable:' + item.namedoctor
           div(class='form-group') 
           p="Vista :"+item.vista
           div(class='form-group')
           p="Área :"+item.area
           div(class='form-group')
           p="Técnica :"+item.tecnica
           div(class='form-group')
           p="Proceso :"+item.proceso
           div(class='form-group')
           p="Enfoque :"+item.enfoque
           div(class='form-group')
           p="Observaciones :"+item.observaciones
       
            

      
      
      
     